doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet", href='/sim/TemplateData/style.css')
  body(style='overflow:hidden;')
    block content
    script(src='/sim/Build/TempleSpace.loader.js')
    script(src='/modules/jquery/dist/jquery.min.js')
    script(src='/modules/socket.io/client-dist/socket.io.min.js')
    script(src='/scripts/sim_loader.js')