extends layout

block content
    div#unity-container.unity-desktop(style="display:flex; height:100%; align-items:center; justify-content:center;" data-id=userName)
        div#unity-loading-bar
            div#unity-logo
            div#unity-progress-bar-empty
                div#unity-progress-bar-full